PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/chat_app
BETTER_AUTH_SECRET=F5dk6wWyggT6EVwimPEy0o66UYzMQg97
BETTER_AUTH_URL=http://localhost:3000
# Add additional trusted origins (comma separated)
TRUSTED_ORIGINS=http://192.168.1.5:3000,https://mydomain.com
